* {
	margin: 0;
	padding:0;
}

body {
	background-image: url("../images/mainBack.png");
	background-size: cover;
	background-position: center;
}

@font-face{
	font-family:"Title";
	src: url("../fonts/Breathe Fire.otf");
}

#main{
	height: 600px;
	width: 900px;
	display: block;
	margin: auto;
	margin-top: 5%;
	background-size: cover;
	border: 5px solid black;
}

#canvasJeu {
	display: none;
}

#titleContainer {
	margin : auto;
	text-align: center;
	width: 720px;
	height: 320px;
	padding:  10% 0% 2% 0%;
}

#title {
	font-family: title;
	color: white;
	font-size: 90px;
}

#playButton {
	display: inline-block;
	font-size: 32px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;	
	background-image: url("../images/l2.gif");
	background-position: center;
	border: none;
	border-radius: 15px;
}

#playButton:hover{
	background-position: center;
	background-image: url("../images/l3.gif");
}

#playButton>p {
	padding: 15px 25px;
	background-color: rgba(10, 31, 57, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 15px;
}